// reset

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f9f9f9;
    color: #222;
    font-family: 'Oswald', sans-serif;
}
