.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

.loading__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading__content {
  width: 100%;
}

.loading__content__wrapper {
  padding: 20px;
  overflow: hidden;
  width: 215px;
  margin: auto;
}
.loading__content__wrapper:after {
  content: "";
  display: block;
  clear: both;
}

.loading__content__counter {
  float: left;
  font-size: 10rem;
}

.is--animate {
  -webkit-animation: fadeInUp 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fadeInUp 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.is--animate.out {
  -webkit-animation: fadeOutUp 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
          animation: fadeOutUp 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035) both;
}

.is--delay--1 {
  -webkit-animation-delay: 0.25s !important;
          animation-delay: 0.25s !important;
}

.is--delay--2 {
  -webkit-animation-delay: 0.5s !important;
          animation-delay: 0.5s !important;
}

.is--delay--3 {
  -webkit-animation-delay: 0.75s !important;
          animation-delay: 0.75s !important;
}

@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translate(0, 230px);
            transform: translate(0, 230px);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes fadeInUp {
  0% {
    -webkit-transform: translate(0, 230px);
            transform: translate(0, 230px);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes fadeOutUp {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: translate(0, -230px);
            transform: translate(0, -230px);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
@keyframes fadeOutUp {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: translate(0, -230px);
            transform: translate(0, -230px);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}
.loading__content__indicator {
  display: block;
  height: 5px;
  border-radius: 10px;
  background-color: #ccc;
  width: 300px;
  margin: auto;
  overflow: hidden;
}

.loading__content__indicator__progress {
  height: 100%;
  display: block;
  width: 0%;
  background-color: #222;
  -webkit-transition: width 1s;
          transition: width 1s;
}
